<p style="color: green"><%= notice %></p>
you don't have any cha yet. Create one by clicking
<%= form_with(model: Chat.new) do | form | %>
  <%= form.submit 'Here', class: 'btn btn-dark border-light' %>
<% end %>
